.header__nav_mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 40px 0;
}

@media (max-width: 426px) {
  .header__nav_mobile {
    display: flex;
  }
}
