.header__nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 6px;
}

@media (max-width: 575px) {
  .header__nav {
    margin-right: 10px;
  }
}

@media (max-width: 426px) {
  .header__nav {
    display: none;
  }
}
