.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  min-height: 74px;
  max-width: 880px;
  padding: 45px 19px 0;
}

.header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  opacity: 0.7;
  border-top: 1px solid var(--color-background-2);
  height: 0;
  width: 100%;
}

@media (max-width: 575px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
  }
}
